<fieldset>
  <legend>{{ text_transaction }}</legend>
  <div id="raiffeisen-transaction"></div>
</fieldset>

<script type="text/javascript"><!--
	$('#raiffeisen-transaction').load('index.php?route=extension/payment/raiffeisen/transaction&user_token={{ user_token }}&order_id={{ order_id }}');

	$('#button-capture').on('click', function() {
		$.ajax({
			url: 'index.php?route=extension/payment/raiffeisen/capture&user_token={{ user_token }}&order_id={{ order_id }}',
			type: 'post',
			dataType: 'json',
			data: 'amount=' + $('#input-capture-amount').val() + '&complete=' + ($('#raiffeisen-capture-complete').prop('checked') == true ? 1 : 0),
			beforeSend: function() {
				$('#button-capture').button('loading');
			},
			complete: function() {
				$('#button-capture').button('reset');
			},
			success: function(json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#raiffeisen-capture').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#raiffeisen-capture').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					$('#raiffeisen-captured').text(json['captured']);
					$('#raiffeisen-capture-amount').val(json['remaining']);

					if (json['capture_status']) {
						$('#capture-status').text(json['capture_status']);

						$('#button-void').remove();

						$('#capture-form').remove();
					}
				}

				$('#raiffeisen-transaction').load('index.php?route=extension/payment/raiffeisen/transaction&user_token={{ user_token }}&order_id={{ order_id }}');
			}
		});
	});

	$('#button-void').on('click', function() {
		if (confirm('{{ text_confirm_void|escape('js') }}')) {
			$.ajax({
				url: 'index.php?route=extension/payment/raiffeisen/void&user_token={{ user_token }}&order_id={{ order_id }}',
				dataType: 'json',
				beforeSend: function() {
					$('#button-void').button('loading');
				},
				complete: function() {
					$('#button-void').button('reset');
				},
				success: function(json) {
					$('.alert-dismissible').remove();

					if (json['error']) {
						$('#raiffeisen-capture').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
					}

					if (json['success']) {
						$('#capture-status').text(json['capture_status']);

						$('#button-void').remove();

						$('#capture-form').remove();
					}

					$('#raiffeisen-transaction').load('index.php?route=extension/payment/raiffeisen/transaction&user_token={{ user_token }}&order_id={{ order_id }}');
				}
			});
		}
	});

	$('#raiffeisen-transaction').delegate('button', 'click', function() {
		var element = this;

		$.ajax({
			url: $(element).attr('href'),
			dataType: 'json',
			beforeSend: function() {
				$(element).button('loading');
			},
			complete: function() {
				$(element).button('reset');
			},
			success: function(json) {
				$('.alert-dismissible').remove();

				if (json['error']) {
					$('#tab-pp-express').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				}

				if (json['success']) {
					$('#raiffeisen-transaction').load('index.php?route=extension/payment/raiffeisen/transaction&user_token={{ user_token }}&order_id={{ order_id }}');
				}
			}
		});
	});
//--></script>
